// Imports
@import "reset";
@import "mixens";
@import "fonts";

$max-width: 800px;

body {
  background-color: $oc-gray-0;
}

.navbar {
  // @include debug(red);
  @include center;
  background-color: #ffffff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 4px 8px rgba(0, 0, 0, 0.04);
  height: 64px;

  & > img {
    // @include debug(red);
    height: 40px;
    width: 40px;
  }

  &--footer {
    box-shadow: 0 0 -1px rgba(0, 0, 0, 0.04), 0 0 -2px rgba(0, 0, 0, 0.06), 0 4px -8px rgba(0, 0, 0, 0.04);
    margin-top: 32px;
    padding: 100px;
  }
}

.amount {
  // @include debug(red);
  @include center;
  margin-top: 64px;
  flex-direction: column;

  &__top {
    background-color: #ffffff;
    border-bottom: 1px solid $oc-gray-3;
    width: 100%;
    padding: 16px;
    position: absolute;
    top: 0;
  }

  &__wrapper {
    // @include debug(blue);
    @include center;
    background-color: $oc-orange-5;
    border: 1.5px solid $oc-gray-3;
    // box-shadow: 0 0 1px rgba(255, 200, 0, 0.04), 0 0 2px rgba(255, 200, 0, 0.06), 0 4px 8px rgba(255, 200, 0, 0.04);
    // border-radius: 32px;
    flex-direction: column;
    padding: 140px 0 100px;
    width: 100%;
    margin: 0 16px;
    max-width: $max-width;
    position: relative;
  }

  &__label {
    // color: #ffffff;
    font-size: 16px;
  }

  &__value {
    // color: #ffffff;
    font-size: 60px;
    font-weight: 600;
  }
}

.transaction {
  width: 100%;
  margin: 32px 0;
  font-size: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & > a {
    background-color: $oc-orange-5;
    border-radius: 8px;
    color: #000000;
    padding: 8px 32px;
    text-decoration: none;

    @include transition-button($oc-orange-5);
  }
}

.collection {
  // @include debug(red);
  @include center;

  &__wrapper {
    // @include debug(blue);
    @include center;
    flex-direction: column;
    width: 100%;
    margin: 0 16px;
    max-width: $max-width;
  }
}

.card {
  // @include debug(black);
  background-color: white;
  border: 1px solid $oc-gray-3;
  margin-bottom: 32px;
  width: 100%;

  &__top {
    border-bottom: 1px solid $oc-gray-3;
    display: flex;
    height: 40px;
    justify-content: flex-end;

    & > img {
      // @include debug(red);
      border-left: 1px solid $oc-gray-3;
      cursor: pointer;
      height: 100%;
      padding: 12px;
      width: 40px;
      transition: background-color 200ms;

      &:hover {
        background-color: $oc-gray-0;
      }
    }
  }

  &__middle {
    // height: 128px;
    background-color: $oc-orange-0;
    display: flex;
    font-size: 40px;
    font-weight: 600;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 150px 32px;
  }

  &__label {
    font-size: 64px;
    margin-bottom: 16px;
  }

  &__bottom {
    // height: 128px;
    border-top: 1px solid $oc-gray-3;
    display: flex;
    font-size: 16px;
    // font-weight: 600;
    justify-content: space-between;
    padding: 16px 32px;
  }
}

.up {
  // @include debug(black);
  @include center;
  @include transition-button($oc-orange-5);
  background-color: $oc-orange-5;
  border-radius: 64px;
  color: #000000;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 4px 8px rgba(0, 0, 0, 0.04);
  font-size: 24px;
  font-weight: 600;
  height: 64px;
  text-decoration: none;
  width: 64px;

  position: fixed;
  bottom: 16px;
  right: 16px;
}
