// Imports
@import "reset";
@import "mixens";
@import "fonts";

.main {
  // @include debug(black);
  @include full;
  @include center;
  background-image: url("https://images.unsplash.com/photo-1582442797897-f73ff3ef825d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80");
  flex-direction: column;
  min-height: 650px;
}

.form {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 5px 5px 0 rgba(154, 160, 185, 0.05), 0 5px 30px 0 rgba(166, 173, 201, 0.22);
  min-width: 450px;
  padding: 32px;

  &__title {
    margin: 16px 0;
    text-align: center;
  }

  &__label,
  &__input,
  &__button {
    display: block;
  }

  &__label {
    color: $oc-gray-7;
    font-size: 14px;
    margin-bottom: 8px;
  }

  &__input {
    border: 1px solid $oc-gray-3;
    border-radius: 4px;
    font-size: 12px;
    height: 40px;
    margin-bottom: 16px;
    outline: none;
    padding-left: 8px;
    width: 100%;

    &:focus {
      border: 1px solid $oc-blue-5;
    }
  }

  &__button {
    @include transition-button($oc-blue-5);
    background-color: $oc-blue-5;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    height: 48px;
    margin-top: 32px;
    width: 100%;

    &::-moz-focus-inner {
      border: 0;
    }
  }

  &__container {
    @include center;
    margin: 32px 0 8px;
  }

  &__anchor {
    @include transition-anchor(rgba($oc-blue-5, 0.32));
    color: $oc-gray-7;
    font-size: 14px;
    outline: none;
    text-decoration: none;
  }
}
